# Import Basic Libraries

In [1]:
import numpy as np 
import pandas as pd

# Load Data

In [9]:
def df_maker(data):
    df = pd.read_csv(data)
    return df

In [7]:
%pwd

'c:\\Users\\pgsin\\Documents\\AI_ENGINEERING\\Striving\\M5_Deep_Learning\\LSTMS'

In [11]:
df = df_maker("TSLA.csv")

In [18]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-07-10,52.444000,52.599998,51.563999,51.830002,51.830002,13054500
1,2015-07-13,52.450001,52.509998,51.209999,52.431999,52.431999,14801500
2,2015-07-14,52.419998,53.198002,52.102001,53.130001,53.130001,9538000
3,2015-07-15,53.348000,53.498001,52.416000,52.627998,52.627998,10108000
4,2015-07-16,52.844002,53.439999,52.632000,53.335999,53.335999,8080000
...,...,...,...,...,...,...,...
1478,2021-05-24,581.599976,614.479980,573.650024,606.440002,606.440002,34558100
1479,2021-05-25,607.309998,613.989990,595.710022,604.690002,604.690002,28005900
1480,2021-05-26,607.559998,626.169983,601.500000,619.130005,619.130005,28639300
1481,2021-05-27,620.239990,631.130005,616.210022,630.849976,630.849976,26370600
1482,2021-05-28,628.500000,635.590027,622.380005,625.219971,625.219971,22737000

In [17]:
training_set = df.iloc[:800, 1:2].values

2