In [52]:
import pandas as pd 
import pandas_datareader as web 
from pandas_datareader.famafrench import get_available_datasets
import datetime 
import numpy as np

In [33]:
datasets = get_available_datasets()
print('No. of datasets:{0}'.format(len(datasets)))

No. of datasets:297

In [34]:
ds_industry = web.DataReader("25_Portfolios_5x5_Daily",'famafrench',start='2000.01.01')

In [35]:
ds_industry.keys()

dict_keys([0, 1, 2, 3, 'DESCR'])

In [36]:
ds_industry["DESCR"]

'25 Portfolios 5x5 Daily\n-----------------------\n\nThis file was created by CMPT_ME_BEME_RETS_DAILY using the 202104 CRSP database. It contains value-weighted returns for the intersections of 5 ME portfolios and 5 BE/ME portfolios. The portfolios are constructed at the end of June. ME is market cap at the end of June. BE/ME is book equity at the last fiscal year end of the prior calendar year divided by ME at the end of December of the prior year. Missing data are indicated by -99.99 or -999. The break points use Compustat firms plus the firms hand-collected from the Moodys Industrial, Transportation, Utilities, and Financials Manuals. The portfolios use Compustat firms plus the firms hand-collected from the Moodys Industrial, Transportation, Utilities, and Financials Manuals. Copyright 2021 Kenneth R. French\n\n  0 : Average Value Weighted Returns -- Daily (5366 rows x 25 cols)\n  1 : Average Equal Weighted Returns -- Daily (5366 rows x 25 cols)\n  2 : Number of Firms in Portfolios (5366 rows x 25 cols)\n  3 : Average Firm Size (5366 rows x 25 cols)'

In [37]:
df = ds_industry[0]

In [38]:
df

,SMALL LoBM,ME1 BM2,ME1 BM3,ME1 BM4,SMALL HiBM,ME2 BM1,ME2 BM2,ME2 BM3,ME2 BM4,ME2 BM5,...,ME4 BM1,ME4 BM2,ME4 BM3,ME4 BM4,ME4 BM5,BIG LoBM,ME5 BM2,ME5 BM3,ME5 BM4,BIG HiBM
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,0.74,-1.55,1.27,-0.86,-0.52,-1.74,-1.71,-0.98,-1.34,-1.12,...,-0.42,-2.31,-1.92,-2.15,-2.09,0.05,-2.59,-2.74,-2.30,-3.25
2000-01-04,-4.22,-3.90,-2.58,-1.99,-1.63,-4.08,-4.26,-2.10,-2.76,-2.92,...,-4.98,-2.73,-2.19,-2.10,-2.55,-4.22,-3.73,-2.65,-2.70,-2.50
2000-01-05,1.29,1.58,1.04,0.81,0.65,0.10,0.34,0.52,0.36,0.24,...,-0.95,0.37,1.02,0.76,-0.19,-0.21,0.20,0.60,1.29,0.25
2000-01-06,0.55,1.15,-0.22,0.21,0.88,-0.66,-0.78,-0.50,-0.01,-0.35,...,-3.29,0.56,1.05,1.36,-0.49,-0.99,0.57,2.31,1.90,0.42
2000-01-07,1.77,1.39,1.28,2.40,1.33,2.83,2.08,1.43,1.75,1.31,...,4.91,2.32,1.62,1.44,2.04,3.61,2.75,1.75,1.85,2.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-04-26,2.50,2.44,1.46,0.72,2.43,2.25,1.11,1.43,0.65,0.84,...,1.20,0.42,0.83,0.88,0.70,0.30,0.10,0.20,0.01,0.81
2021-04-27,-0.56,-0.29,0.09,0.02,0.87,-0.10,0.02,0.10,0.08,0.46,...,-0.18,-0.05,0.12,0.20,0.47,-0.22,-0.22,0.03,0.80,0.83
2021-04-28,1.04,1.17,1.33,0.77,0.96,-0.07,0.13,0.19,0.13,0.27,...,-0.35,-0.62,-0.09,0.23,0.40,-0.48,0.60,0.41,0.43,0.56
2021-04-29,-1.29,-1.13,0.00,0.05,-0.56,-1.02,-1.05,-0.58,0.34,0.21,...,-0.44,0.05,0.02,1.20,1.90,0.01,1.22,1.51,1.42,1.05
2021-04-30,-1.36,-1.43,-1.25,-0.69,-1.77,-1.28,-1.62,-1.11,-1.57,-0.81,...,-1.37,-1.50,-0.64,-1.46,-1.19,-0.59,-0.79,-0.72,-1.21,-1.20

In [67]:
portfolios = ["ptf1","ptf2","ptf3","ptf4","ptf5","ptf6","ptf7","ptf8"
"ptf9","ptf10","ptf11","ptf12","ptf13","ptf14","ptf15","ptf16","ptf17","ptf18","ptf19","ptf20","ptf21","ptf22","ptf23","ptf24","ptf25","pt26"]

In [68]:
len(portfolios)

25

In [69]:
df.keys()

Index(['SMALL LoBM', 'ME1 BM2', 'ME1 BM3', 'ME1 BM4', 'SMALL HiBM', 'ME2 BM1',
       'ME2 BM2', 'ME2 BM3', 'ME2 BM4', 'ME2 BM5', 'ME3 BM1', 'ME3 BM2',
       'ME3 BM3', 'ME3 BM4', 'ME3 BM5', 'ME4 BM1', 'ME4 BM2', 'ME4 BM3',
       'ME4 BM4', 'ME4 BM5', 'BIG LoBM', 'ME5 BM2', 'ME5 BM3', 'ME5 BM4',
       'BIG HiBM'],
      dtype='object')

In [70]:
df1 = df.copy()

In [71]:
df1.columns = portfolios

In [72]:
df1

,ptf1,ptf2,ptf3,ptf4,ptf5,ptf6,ptf7,ptf8ptf9,ptf10,ptf11,...,ptf17,ptf18,ptf19,ptf20,ptf21,ptf22,ptf23,ptf24,ptf25,pt26
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,0.74,-1.55,1.27,-0.86,-0.52,-1.74,-1.71,-0.98,-1.34,-1.12,...,-0.42,-2.31,-1.92,-2.15,-2.09,0.05,-2.59,-2.74,-2.30,-3.25
2000-01-04,-4.22,-3.90,-2.58,-1.99,-1.63,-4.08,-4.26,-2.10,-2.76,-2.92,...,-4.98,-2.73,-2.19,-2.10,-2.55,-4.22,-3.73,-2.65,-2.70,-2.50
2000-01-05,1.29,1.58,1.04,0.81,0.65,0.10,0.34,0.52,0.36,0.24,...,-0.95,0.37,1.02,0.76,-0.19,-0.21,0.20,0.60,1.29,0.25
2000-01-06,0.55,1.15,-0.22,0.21,0.88,-0.66,-0.78,-0.50,-0.01,-0.35,...,-3.29,0.56,1.05,1.36,-0.49,-0.99,0.57,2.31,1.90,0.42
2000-01-07,1.77,1.39,1.28,2.40,1.33,2.83,2.08,1.43,1.75,1.31,...,4.91,2.32,1.62,1.44,2.04,3.61,2.75,1.75,1.85,2.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-04-26,2.50,2.44,1.46,0.72,2.43,2.25,1.11,1.43,0.65,0.84,...,1.20,0.42,0.83,0.88,0.70,0.30,0.10,0.20,0.01,0.81
2021-04-27,-0.56,-0.29,0.09,0.02,0.87,-0.10,0.02,0.10,0.08,0.46,...,-0.18,-0.05,0.12,0.20,0.47,-0.22,-0.22,0.03,0.80,0.83
2021-04-28,1.04,1.17,1.33,0.77,0.96,-0.07,0.13,0.19,0.13,0.27,...,-0.35,-0.62,-0.09,0.23,0.40,-0.48,0.60,0.41,0.43,0.56
2021-04-29,-1.29,-1.13,0.00,0.05,-0.56,-1.02,-1.05,-0.58,0.34,0.21,...,-0.44,0.05,0.02,1.20,1.90,0.01,1.22,1.51,1.42,1.05
2021-04-30,-1.36,-1.43,-1.25,-0.69,-1.77,-1.28,-1.62,-1.11,-1.57,-0.81,...,-1.37,-1.50,-0.64,-1.46,-1.19,-0.59,-0.79,-0.72,-1.21,-1.20

In [45]:
sets = web.famafrench.get_available_datasets()


# from the datasets let us download the FF factors and put them into one DataFrame
startdt = datetime.datetime(2000,1,1)
d1 = web.DataReader('F-F_Research_Data_Factors_daily','famafrench',start=startdt)
d2 = web.DataReader('F-F_Momentum_Factor_daily','famafrench',start=startdt)

k = d1[0]/100
k.reset_index(inplace=True)
p = pd.DataFrame(k)

q =d2[0]/100
q.reset_index(inplace=True)
q = pd.DataFrame(q)
q.rename(columns={'Date':'D','Mom':'MOM'},inplace =True)

ff = pd.concat([p,q],axis =1)

In [46]:
ff

           Date  Mkt-RF     SMB     HML       RF          D  Mom
0    2000-01-03 -0.0071  0.0061 -0.0140  0.00021 2000-01-03 -0.0013
1    2000-01-04 -0.0406  0.0001  0.0206  0.00021 2000-01-04 -0.0186
2    2000-01-05 -0.0009  0.0018  0.0019  0.00021 2000-01-05 -0.0051
3    2000-01-06 -0.0073 -0.0042  0.0127  0.00021 2000-01-06 -0.0149
4    2000-01-07  0.0321 -0.0049 -0.0142  0.00021 2000-01-07  0.0060
...         ...     ...     ...     ...      ...        ...     ...
5361 2021-04-26  0.0043  0.0085 -0.0048  0.00000 2021-04-26  0.0148
5362 2021-04-27 -0.0003 -0.0017  0.0085  0.00000 2021-04-27  0.0007
5363 2021-04-28 -0.0006  0.0018  0.0023  0.00000 2021-04-28 -0.0016
5364 2021-04-29  0.0039 -0.0112  0.0111  0.00000 2021-04-29 -0.0096
5365 2021-04-30 -0.0083 -0.0042 -0.0033  0.00000 2021-04-30 -0.0049

[5366 rows x 7 columns]

### Historical Volatility

In [78]:
# calculate daily logarithmic return
df1[;,"ptf1_r"] = df1.loc[:,"ptf1"].rolling(window=21).apply(lambda x:np.nanprod(1+x)).shift(-21)

SyntaxError: invalid syntax (<ipython-input-78-b496cd29ca37>, line 2)

In [74]:
df1["ptf1_r"]

Date
2000-01-03   -0.475058
2000-01-04         NaN
2000-01-05   -0.796179
2000-01-06   -1.510120
2000-01-07   -0.235496
                ...
2021-04-26         NaN
2021-04-27         NaN
2021-04-28         NaN
2021-04-29         NaN
2021-04-30         NaN
Name: ptf1_r, Length: 5366, dtype: float64