In [24]:
import time
from IPython.display import clear_output
import numpy    as np
import pandas   as pd
import seaborn  as sns
import matplotlib.pyplot as plt
import sklearn  as skl


from sklearn import pipeline      # Pipeline
from sklearn import preprocessing # OrdinalEncoder, LabelEncoder
from sklearn import impute
from sklearn import compose
from sklearn import model_selection # train_test_split
from sklearn import metrics         # accuracy_score, balanced_accuracy_score, plot_confusion_matrix
from sklearn import set_config

set_config(display='diagram') # Useful for display the pipeline

In [25]:
df = pd.read_csv('heart.csv')

In [26]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [27]:
age=df['age']
sex=df['sex']
cp=df['cp']
trestbps=df['trestbps']
chol=df['chol']
fbs=df['fbs']
restecg=df['restecg']
thalach=df['thalach']
exang=df['exang']
oldpeak=df['oldpeak']
slope=df['slope']
ca=df['ca']
thal=df['thal']
target=df['target']

In [28]:
age_s=np.std(age)
sex_s=np.std(sex)
cp_s=np.std(cp)
trestbps_s=np.std(trestbps)
chol_s=np.std(chol)
fbs_s=np.std(fbs)
restecg_s=np.std(restecg)
thalach_s=np.std(thalach)
exang_s=np.std(exang)
oldpeak_s=np.std(oldpeak)
slope_s=np.std(slope)
ca_s=np.std(ca)
thal_s=np.std(thal)
target_s=np.std(target)
dataset=[]

In [38]:
dataset=[]
np.random.seed(0)
for _ in range(2):

    for _,row in df.iterrows():
        temp={
            "age": round(row['age']+np.random.uniform(age_s),0).astype(int),
            
            #"sex": round(row['sex']+np.random.uniform(sex_s),0),
            "sex": int(row['sex']+np.random.randint(0,1)),
            
            "cp": int(row['cp']+np.random.randint(0,3)),
            "trestbps": int(row['trestbps']+np.random.uniform(trestbps_s)),
            "chol": int(row['chol']+np.random.uniform(chol_s)),
            "fbs": int(row['fbs']+np.random.randint(0,1)),
            "restecg": int(row['restecg']+np.random.randint(0,2)),
            "thalach": int(row['thalach']+np.random.uniform(thalach_s)),
            "exang": int(row['exang']+np.random.randint(0,1)),
            "oldpeak": round(row['oldpeak']+np.random.uniform(oldpeak_s),1),
            "slope": int(row['slope']+np.random.uniform(oldpeak_s)),
            "ca": int(row['ca']+np.random.randint(0,4)),
            "thal": int(row['thal']+np.random.randint(0,3)),
            "target": int(round(row['target']+np.random.uniform(target_s),0)),
            "target": int(row['target']+np.random.randint(0,1)),
            #"target": round(row['target']+np.random.uniform(target_s),0) #rounded
            

        }
        dataset.append(temp)
        

print(len(dataset),"augmented data created.")
df_au=pd.DataFrame(dataset)
df_au

606 augmented data created.

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,68,1,4,148,241,1,1,163,0,3.4,1,2,1,1
1,43,1,4,134,277,0,2,189,0,4.6,1,3,2,1
2,44,0,1,131,215,0,1,183,0,2.5,3,1,3,1
3,59,1,3,130,274,0,2,184,0,1.9,3,0,3,1
4,64,0,1,121,371,0,1,172,1,1.6,3,1,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,62,0,1,153,291,0,2,139,1,1.3,2,2,5,0
602,54,1,4,112,265,0,2,137,0,2.2,2,3,3,0
603,70,1,0,153,217,1,1,142,0,4.5,2,3,3,0
604,59,1,2,142,174,0,1,119,1,2.3,2,4,3,0
605,60,0,1,139,253,0,0,179,0,1.1,2,1,4,0

In [ ]:
df_aug.